body {
  font: normal 400 16px/1.5 "Raleway", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
small {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}

p {
  font: normal 400 1em/1.5 "Raleway", Arial, Helvetica, sans-serif;
}

.title-main {
  font: normal 900 1.62em/1.5 "Raleway", Arial, Helvetica, sans-serif;
  margin-bottom: 1.9rem;
}

.info {
  font: normal 400 0.912em/1.5 "Raleway", Arial, Helvetica, sans-serif;
}

.header,
section,
.wrapper,
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.wrapper {
  max-width: 1360px;
  padding: 0 5%;
}

.full {
  width: 100%;
}

.one-of-four {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}
.one-of-four.mx-w {
  max-width: 25%;
}

.two-of-four {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.two-of-four.mx-w {
  max-width: 50%;
}

.three-of-four {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
}
.three-of-four.mx-w {
  max-width: 75%;
}

.one-of-three {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
}
.one-of-three.mx-w {
  max-width: 33%;
}

.two-of-three {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.66%;
          flex: 1 1 66.66%;
}
.two-of-three.mx-w {
  max-width: 66%;
}

.full,
.one-of-four,
.two-of-four,
.three-of-four,
.one-of-three,
.two-of-three {
  padding: 0 1rem;
}

.v-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.v-bot {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.f-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.f-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.f-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

button,
input,
textarea,
select {
  -webkit-apparance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}

input,
textarea,
select,
button {
  cursor: pointer;
  width: 100%;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: 700 0.875em/1.5 "Raleway", Arial, Helvetica, sans-serif;
  background: #ffd232;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
.btn:hover {
  background: #ffb000;
}

.buy-btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.buy-btn img,
.buy-btn svg {
  width: 100%;
  margin-bottom: 0;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list > li {
  padding: 1rem;
}

.list-two-items > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.list-three-items > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
}

.list-four-items > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  padding: 15px;
}
.modal.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 6;
  background: rgba(0, 0, 0, 0.7);
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

img,
svg {
  vertical-align: middle;
}

.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 25px;
  max-width: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.icon img,
.icon svg {
  width: 100%;
}

.img-wrp {
  width: 100%;
  margin-bottom: 1rem;
}
.img-wrp img,
.img-wrp svg {
  width: 100%;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.burger-wrp {
  display: none;
  padding: 0 1rem;
}

.burger {
  width: 21px;
  height: 1rem;
  position: relative;
  cursor: pointer;
}
.burger span {
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.burger-line {
  position: absolute;
  left: 0;
}
.burger-line:first-of-type {
  top: 0;
}
.burger-line:nth-of-type(2) {
  top: calc(50% - 1px);
}
.burger-line:last-of-type {
  bottom: 0;
}

.burger-line.active:first-of-type {
  top: 40%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger-line.active:nth-of-type(2) {
  opacity: 0;
}
.burger-line.active:last-of-type {
  bottom: 48%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.socials > li {
  margin: 0 1rem 0.5rem 0;
}
.socials > li:last-of-type {
  margin-right: 0;
}
.socials a:hover svg {
  fill: #ffd232;
}
.socials svg {
  fill: #232323;
}

.header {
  padding: 1.4rem 0;
  background: #232323;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .logo {
  margin-right: 1rem;
}

.logo-wrp,
.header__actions {
  padding: 0 1rem;
}

.logo-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

.logo {
  min-width: 50px;
  max-width: 130px;
  width: 100%;
}
.logo img,
.logo svg {
  width: 100%;
}

.logo-text {
  font-size: 0.9em;
}

.header__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
}
.header__search-form fieldset {
  padding: 0 1rem;
}
.header__search-form input,
.header__search-form button {
  padding: 0.62rem 1.3rem;
  border-radius: 5px;
}
.header__search-form input {
  background: #fff;
  font: 700 0.875em/1.5 "Raleway", Arial, Helvetica, sans-serif;
}
.header__search-form button {
  vertical-align: middle;
}

.search-form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.search-form__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
}
.header__actions > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}
.header__actions > li:last-of-type {
  margin-right: 0;
}
.header__actions .icon:hover svg {
  fill: #ffd232;
}
.header__actions svg {
  fill: #ffffff;
}

.home-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px 0;
}

.home__aside,
.home__body {
  padding: 0 1rem;
}

.home__aside {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  position: sticky;
  top: 1rem;
}

.aside-menu {
  margin-bottom: 1rem;
}

.home__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.aside-menu__list > li a {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.aside-menu__list > li a:hover, .aside-menu__list > li a.active {
  color: #ffd232;
}
.aside-menu__list > li a:hover svg, .aside-menu__list > li a.active svg {
  fill: #ffd232;
}
.aside-menu__list > li svg {
  fill: #848484;
}
.aside-menu__list .icon {
  margin-right: 1.8rem;
}
.aside-menu__list span {
  font: 700 1em/1.5 "Raleway", Arial, Helvetica, sans-serif;
}

.aside-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.937rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-bottom: 1rem;
}
.aside-contacts > p,
.aside-contacts > ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.aside-footer {
  text-align: center;
  font-size: 0.9em;
}

.product-list > li .box {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}
.product-list > li .img-wrp {
  margin-bottom: 0.5rem;
}
.product-list > li .img-wrp > img {
  margin-bottom: 0.7rem;
}
.product-list > li a {
  font-size: 0.9em;
}
.product-list .sale {
  color: #f93737;
}

.price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  width: 100%;
}
.price-box p {
  font: normal 400 0.95em/1.5 "Raleway", Arial, Helvetica, sans-serif;
  vertical-align: baseline;
  position: relative;
}
.price-box span {
  font: normal 700 1.5em/1.5 "Raleway", Arial, Helvetica, sans-serif;
  vertical-align: baseline;
}
.price-box .normal-price {
  position: absolute;
  top: -1rem;
  right: -1rem;
  text-decoration: line-through;
  font-size: 0.8em;
  opacity: 0.6;
}

/* For tablets */
@media (max-width: 1024px) {
  .list-three-items > li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    width: 50%;
    margin-bottom: 1rem;
  }

  .burger-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__search-form,
.home__aside {
    display: none;
  }
}
/* For mobile */
@media (max-width: 680px) {
  .list-three-items > li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
    padding: 0;
    margin-bottom: 1rem;
  }

  .logo-text {
    display: none;
  }
}