.product-list
  > li
    .box
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
      border-radius: 12px
      padding: 1rem
      display: flex
      flex-flow: column wrap
      justify-content: space-between
      align-items: flex-start
      height: 100%
    .img-wrp
      margin-bottom: .5rem
      > img
        margin-bottom: .7rem
    a
      font-size: .9em
  .sale
    color: $alert

.price-box
  display: flex
  flex-wrap: nowrap
  align-items: flex-end
  justify-content: space-between
  padding-top: 1rem
  width: 100%
  p
    font: normal 400 .95em/1.5 $main-font
    vertical-align: baseline
    position: relative
  .price span:not(.normal-price)
    font: 700 1.5em/1.5 $main-font
    vertical-align: baseline
    font-feature-settings: 'pnum' on, 'lnum' on
  .normal-price
    position: absolute
    top: -1rem
    right: -1rem
    text-decoration: line-through
    font-size: .8em
    opacity: .6

.login-registration
  .content
    width: 100%
    max-width: 370px
    min-width: inherit
  .form-box
    position: relative
  .form-wrp
    background: #fff
    text-align: center
    border-radius: 12px
    padding: 2rem
    opacity: 0
    transform: translateY(-2rem)
    +animate
    &.visible
      opacity: 1
      transform: translateY(0rem)
  .top-form
    position: absolute

  .error-list
    padding: 1rem
    color: $alert
    text-align: left
    list-style: disc

.user-action
  margin-bottom: 1.3rem
  > li
    color: $color-text-two
    cursor: pointer
  .active
    color: $main-color

.product-info
  .price-box
    padding: 1rem 1.8rem
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 12px
    margin-bottom: 1.3rem
  .buy-btn
    border-radius: 0
    width: auto
    height: auto
    // font: 700 .9em/1.5 $main-font
    padding: .8rem 1.5rem
    border-radius: 3px
    img
      width: 20px
      margin-right: 1rem
