
/* For tablets */
@media (max-width: 1024px)
  // general

  // template
  .burger-wrp
    display: flex

  .header__search-form,
  .home__aside
    display: none

/* For mobile */
@media (max-width: 680px)
  // general

  // template
  .logo-text
    display: none
