
/* For tablets */
@media (max-width: 900px)
  // general

  // template
  .burger-wrp
    display: flex

  .header__search-form
    display: none

/* For mobile */
@media (max-width: 680px)
  // general

  // template
  .logo-text
    display: none
