h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
small
  box-sizing: border-box
  font-feature-settings: 'pnum' on, 'lnum' on

p
  font: normal 400 1em/1.5 $main-font

.title-main
  font: 900 1.62em/1.5 $main-font
  margin-bottom: 1.9rem

.title
  font: 900 1.2em/1.5 $main-font
  margin-bottom: 1.4rem

.subtitle
  font: 700 .975em/1.5 $main-font
  margin-bottom: .9rem

.link
  font: normal 700 1em/1.5 $main-font

.info
  font: normal 400 .912em/1.5 $main-font
  font-feature-settings: 'pnum' on, 'lnum' on
